div > button {
    margin-left: 10pt;
}

#search {
    background-color:aliceblue;
    color:darkcyan;
    border-color: teal;
    margin-top: 10pt;
    padding: 1%;
    font:  bold 10px "Lucida Console";
    border-style: solid;
    border-width: thin;
    width: 18%;
    border-radius: 16px;
}
#plus {
    background-color: turquoise;
    border-radius: 50%;
    border: 0px;
    color: white;
    margin: 5pt 10pt;
}
#ca {
    background-color:dodgerblue;
    border-width: 2px;
    border-color: black;
    font-size: 12px;
    box-shadow: 2px 2px black;
}