/* CSS RESET */
*{
    padding: 0;
    margin: 0;
}
#container {
    width: 300px;
    padding: 30px;
}

#search-button {
    background-color:aliceblue;
    color:darkcyan;
    border: 3px solid teal;
    padding: 1%;
    font: bold 14px "Lucida Console";
    border-width: thin;
    border-radius: 16px;
    width: 120px;
    height: 30px;
}
#plus-button {
    background-color: turquoise;
    border-radius: 50%;
    border: 0px;
    color: white;
    margin: 10pt 0;
    width: 40px;
    height: 40px;
}
#create-account-button {
    width: 150px;
    height: 40px;
    background-color:dodgerblue;
    color: white;
    border-width: 3px;
    border-color: black;
    font-size: 18px;
    box-shadow: 3px 3px black;
}